/* Général */
@media (min-width: 992px) {

    body {
        font-family: 'Verdana', sans-serif;
    }

    p {
        line-height: 1em;
    }

    .container-fluid {
        width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }

    .cercle {
        width: 8px;
        height: 8px;
        border-radius: 4px;
        background: #FFC107;
    }

    .mobile {
        display: none;
    }

    .cercle_aujourdhui {
        border: #FFC107 1px solid;
        width: 18px;
        height: 18px;
        border-radius: 9px;
        padding-left: 4px;
        padding-top: 4px;  
    }

    #global {
        margin-left: auto;
        margin-right: auto;
        border: 1px solid #000;
    }

    h1,h2,h3,h4,h5 {
        text-transform: uppercase;
        font-weight: 600; 
    }

    #partie_gauche {
        background-color: #FFC107;
        width: 30%;
        padding: 0;
    }

    .titre_gauche {
        text-align: center;
        background-color: #000;
        color: #FFC107;
        margin-bottom: 5%;
        padding: 0;
        width: 100%;
    }

    .no-padding {
        padding-left: 0;
        padding-right: 0; 
    }

    .padding {
        padding-left: 10%;
    }

    hr {
        background-color: #FFC107;
    }

    section {
        padding: 5% 0;
    }

    header {
        padding: 5% 0;
    }

    .icone_droite {
        color : #FFC107;
        padding: 0 5%;
    }

    .formationposte {
        font-weight: 600;
        font-style: italic;
    }

    .contenu_droite {
        padding: 5% 0;
    }

    /* Section photo */

    #photo {
        text-align: center;
    }

    #photo img {
        width: 200px;
        height: 200px;
        border-radius: 100px;
    }

    /* Section contact */

    #contact p {
        margin : 0;
    }

    .texte_gras {
        font-weight: bold;
    }

    #version_tablette {
        display: none;
    }

    /* Section à propos */

    #apropos {
        padding-bottom : 200%;
    }

    /* Section loisirs */

    .cerclage_icone {
        display: inline-block;
        height: 65px;
        width: 65px;
        border-radius: 32.5px;
        border: 1px solid black;
        margin-left: 5%;
    }

    #cerclage_foot {
        padding-left: 15px;
        padding-top: 15px;
    }

    #cerclage_livre {
        padding-left: 17.5px;
        padding-top: 15px;
    }

    #cerclage_jeux {
        padding-left: 10px;
        padding-top: 15px;
    }

    /* Section titre */

    #prenom {
        color: #FFC107;
    }

    #souligner {
        text-decoration: underline #FFC107;
    }
}



@media (min-width: 768px) and (max-width: 991px) {

    body {
        font-family: 'Verdana', sans-serif;
    }

    p {
        line-height: 1em;
    }

    .cercle {
        width: 8px;
        height: 8px;
        border-radius: 4px;
        background: #FFC107;
    }

    .cercle_aujourdhui {
        border: #FFC107 1px solid;
        width: 18px;
        height: 18px;
        border-radius: 4px;
        padding-left: 4px;
        padding-top: 4px;  
    }

    .container {
        margin: 0;
        padding: 0;
    }

    h1,h2,h3,h4,h5 {
        text-transform: uppercase;
        font-weight: 600; 
    }

    #partie_gauche {
        background-color: #FFC107;
        padding: 0;
    }

    .titre_gauche {
        text-align: center;
        background-color: #000;
        color: #FFC107;
        margin-bottom: 5%;
    }

    hr {
        background-color: #FFC107;
    }

    .no-padding {
        padding-left: 0;
        padding-right: 0; 
    }

    .padding {
        padding-left: 10%;
    }

    section {
        padding: 5% 0;
    }

    header{
        padding: 5% 0;
    }

    .icone_droite {
        color : #FFC107;
        padding: 0 3%;
    }

    .formationposte {
        font-weight: 600;
        font-style: italic;
    }

    .contenu_droite {
        padding: 5% 0;
    }

    .container-fluid {
        margin: 0;
        padding: 0;
    }

    .mobile {
        display: none;
    }

    /* Section photo */

    #photo {
        text-align: center;
    }

    #photo img {
        width: 150px;
        height: 150px;
        border-radius:75px;
    }

    /* Section contact */

    #contact p {
        margin : 0;
    }

    .texte_gras {
        font-weight: bold; 
    }

    #version_ordi_mobile {
        display: none;
    }

    /* Section à propos */

    #apropos {
        padding-bottom : 200%;
    }

    /* Section loisirs */
    
    .cerclage_icone {
        display: inline-block;
        height: 50px;
        width: 50px;
        border-radius: 25px;
        border: 1px solid black;
        margin: 0 5%;
    }

    #cerclage_foot {
        padding-left: 7.5px;
        padding-top: 7.5px;
    }

    #cerclage_livre {
        padding-left: 9px;
        padding-top: 7.5px;
    }

    #cerclage_jeux {
        padding-left: 4.5px;
        padding-top: 7.5px;
    }

    /* Section titre */

    #prenom {
        color: #FFC107;
    }

    #souligner {
        text-decoration: underline #FFC107;
    }
}

@media (max-width: 767px) {

    body {
        font-family: 'Verdana', sans-serif;
    }

    aside {
        background-color: #FFC107;
    }

    p {
        line-height: 1em;
    }

    .container-fluid {
        margin: 0;
        padding: 0;
    }

    h1,h2,h3,h4,h5 {
        text-align: center;
        text-transform: uppercase;
        font-weight: 600; 
    }

    #photo img {
        width: 150px;
        height: 150px;
        border-radius:75px;
        display: block;
        margin-right: auto;
        margin-left: auto;
    }

    section {
        padding: 5% 0;
        display: flex;
        flex-flow: column;
    }

    hr {
        background-color: #FFC107;
    }

    header {
        padding: 5% 0;
    }

    .texte_gras {
        font-weight: bold; 
    }

    #titre_statut p {
        text-align: center;
        font-size: 24px;
    }

    #contact p {
        margin : 0;
    }

    #version_tablette {
        display: none;
    }

    #loisir {
        text-align: center;
    }

    #foot {
        padding: 5% 5%;
    }

    #livre {
        padding: 5% 5%;
    }

    #jeux {
        padding: 5% 5%;
    }

    .formationposte {
        font-weight: 600;
        font-style: italic;
    }

    .cerclage_icone {
        display: inline-block;
        height: 50px;
        width: 50px;
        border-radius: 25px;
        border: 1px solid black;
        margin: 0 5%;
    }

    #cerclage_foot {
        padding-left: 3px;
        padding-top: 6px;
    }

    #cerclage_livre {
        padding-left: 1px;
        padding-top: 5px;
    }

    #cerclage_jeux {
        padding-left: 1px;
        padding-top: 7.5px;
    }

    .contenu_droite {
        padding-bottom: 5%; 
    }

    #autres1 {
        padding: 5% 0;
    }

    .icone_droite {
        color : #FFC107;
        padding: 0 2%;
    }

}